extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let dog_id = toShow._id
    - let dog_name = toShow.name
    - let dog_age = toShow.age
    - let dog_breed = toShow.breed
    - let actionid = "/resource/dogs/" + dog_id
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='dogAttr mr-3') Dog ID is:
        div #{dog_id}
      div.row
        div(class='dogAttr mr-3') Dog Name is:
        div #{dog_name}
      div.row
        div(class='dogAttr mr-3') Dog age is:
        div #{dog_age}
      div.row
        div(class='dogAttr mr-3') Dog Breed is:
        div #{dog_breed}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
      script.
        function cancel() {
          // Go back to the home page for the costume collection
          window.location.href='/resource/dogs'
        }
      script.
        function deleteOnid() {
          console.log("starting delete")
          // delete first
          fetch(actionid, {
            method: 'DELETE' // Don't need a body for the delete
          }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
          }).then((body) => {
            alert("Delete succeeded")
            window.location.href='/resource/dogs'
          }).catch((error) => {
            // TODO handle error
            alert("Delete failed " + error )
          });
        }
            // TODO
